<! Ripudaman
   301221570
   2/5/2022 ––>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleabout.css' />
  </head>
  <body>
    
    <header>
      <img class="logo" src="/images/logo.png" alt="logo" style="width: 100px;height: 100px;">

<nav>
<ul class="nav_links">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/contact">Contact Me</a></li>
    
      <a class="cta" href="#"><button></button></a>
    </ul>
  </nav>
  
  
    </header>
<section class="img">
    <section class ="name">
    <h1>About me</h1>
      
    <p>I am a Data Analyst and an aspiring Data Scientist.</p>

</section></section>
<section class="personal">
    <h1>Personal Info</h1>
    <p>I am originally from India, and am currently stunding Software </p>
    <p>engineering course at Centennial College,Toronto. </p>
</section>
<p class ="download">You can download the resume.</p>
<a href="https://drive.google.com/file/d/1IWPF_c8NWAEP7KB2NHa0FOboCrmeKGba/view?usp=sharing" download>Download resume</a>
<footer class="ids">
      
    <ul class="social">
        
      
        
    </ul>
  
</footer>
  </body>
</html>
<% include footer.ejs %>