<! Ripudaman
   301221570
   2/5/2022 ––>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <! CSS from stylecontact.css>
    <link rel='stylesheet' href='/stylesheets/stylecontact.css' />
  </head>
  <body>
    
    <header> 
      <! adding logo>
        <img class="logo" src="/images/logo.png" alt="logo" style="width: 100px;height: 100px;">

<nav><! navigation links>
<ul class="nav_links">
    <li><a href="http://localhost:3000">Home</a></li>
    <li><a href="http://localhost:3000/projects">Projects</a></li>
    <li><a href="http://localhost:3000/services">Services</a></li>
    <li><a href="http://localhost:3000/about">About Me</a></li>
    <li><a href="http://localhost:3000/contact">Contact Me</a></li>
    
      <a class="cta" href="#"><button></button></a>
    </ul>
  </nav>
  
  
    </header>
    
    
    <div class="b1">


    
    <div class="column third center">
        <h6 >Address</h6>
        <p></p>
        <p class="t">37, McClure Crescent</p></div>
        
    </div>
    
    <div class="b2">
        <div class="column third center">
        <h6>Phone No.</h6>
        <p class="t">(647)215-2107</p></div>
        
    </div>
    
    <div class="b3">
        <div class="column third center">
        <h6 >E-mail</h6>
        <p class="t">21ripudaman1997@gmail.com</p></div>
    </div>

        
<footer class="ids">
      
    <ul class="social">
        
       
    </ul>
  
</footer>
  </body>
</html>
<! adding footer>
<% include footer.ejs %>