<! Ripudaman
   301221570
   2/5/2022 ––>
<!DOCTYPE html>
<html lang="en">
    <link rel='stylesheet' href='/stylesheets/style.css' />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
<footer class=f1> 
   <!  Footer at the bottem  to be included in all the pages>
    <p class = "f">Thank You for visiting</p>
</footer>
</html>