<! Ripudaman
   301221570
   2/5/2022 ––>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <! CSS from file styleproject.css >
    <link rel='stylesheet' href='/stylesheets/styleproject.css' />
  </head>
  <body>
    
    <header>

      <!   logo images >
      <img class="logo" src="/images/logo.png" alt="logo" style="width: 100px;height: 100px;">

<nav>
  <!  Navigation links >
<ul class="nav_links">
    <li><a href="http://localhost:3000">Home</a></li>
    <li><a href="http://localhost:3000/projects">Projects</a></li>
    <li><a href="http://localhost:3000/services">Services</a></li>
    <li><a href="http://localhost:3000/about">About Me</a></li>
    <li><a href="http://localhost:3000/contact">Contact Me</a></li>
    
      <a class="cta" href="#"><button></button></a>
    </ul>
  </nav>
  
  
    </header>
    <!  adding projects and images >
    <h2 class="t3">My Projects</h2>
    
    
    <div class="row">
      <div class="column">
        <img src="https://www.fritz.ai/images/object_detection_vs_image_recognition.jpg" alt="Snow" style="width:650px;height:500px;">
     
      </div> <h3>Object Detection</h3>
      <p class="t2">Object detection refers to the capability of computer and software systems to </p>
        <p>locate objects in an image/scene and identify each object. Object detection has been widely</p>
        <p>used for face detection, vehicle detection, pedestrian counting, web images, </p>
          <p>security systems and driverless cars.</p> </div>
      
        
        <div class="row">
            <div class="column"><h3 class="t2">Housing price predictions</h3>
              <p  class="t2">Prediction house prices are expected to help people who plan to buy a house so they can know the</p>
              <p >   price range in the future,then they can plan their finance well. In addition, house price predictions </p>
              <p >   are also beneficial for property investors to know the trend of housing prices in a certain location.</p>
               </div><img src="https://dezyre.gumlet.io/images/blog/top-10-machine-learning-projects-for-beginners-in-2021/image_90604190191637688251400.png?w=800&dpr=1.0" alt="Snow" style="width:650px;height:500px;">
            </div>
            

    <div class="row">   
        <div class="column">
          <img src="https://dezyre.gumlet.io/images/blog/top-10-machine-learning-projects-for-beginners-in-2021/image_32723027471637688106815.png?w=800&dpr=1.0" alt="Snow" style="width:650px;height:500px;">
        </div><h3 class="t2">
          Digit Recognizer
        </h3><p class="t2">The MNIST database (Modified National Institute of Standards and Technology database) </p>
        <p> is a large database of handwritten digits that is commonly used for training various </p>
        <p>  image processing systems.</p> </div>
    
   
  

      
 


<footer class="ids">
      
    <ul class="social">
        
      
        
    </ul>
  
</footer>
  </body>
</html>

<!  including footer>
<% include partials\footer.ejs %>