<! Ripudaman
   301221570
   2/5/2022 ––>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <! CSS from file styleservices.css >
    <link rel='stylesheet' href='/stylesheets/styleservices.css' />
  </head>
  <body>
    
    <header>
      <!   logo images >
        <img class="logo" src="/images/logo.png" alt="logo" style="width: 100px;height: 100px;">

<nav>
  <!  Navigation links >
<ul class="nav_links">
    <li><a href="http://localhost:3000">Home</a></li>
    <li><a href="http://localhost:3000/projects">Projects</a></li>
    <li><a href="http://localhost:3000/services">Services</a></li>
    <li><a href="http://localhost:3000/about">About Me</a></li>
    <li><a href="http://localhost:3000/contact">Contact Me</a></li>
    
      <a class="cta" href="#"><button></button></a>
    </ul>
  </nav>
  
  <!  adding list of skills >
    </header>
<h2 class ="t2">My Skills</h2>
        <p class="t2">Python</p>
        <div class="container">
          <div class="skills html">90%</div>
        </div>
        <p>Data Analysis</p>
        <div class="container">
          <div class="skills css">80%</div>
        </div>
        
        <p>JavaScript</p>
        <div class="container">
          <div class="skills js">65%</div>
        </div>
        
        <p>Power BI</p>
        <div class="container">
          <div class="skills php">60%</div>
        </div>
<footer class="ids">
      
    <ul class="social">
        
      
        
    </ul>
  
</footer>
  </body>
</html>

<!  including footer>
<% include partials\footer.ejs %>